.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    padding-top: 44px;

    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    @include media ("<tablet") {
        padding-top: 25px;
    }

    .logo {
        @include media ("<tablet") {
            width: 127px;
        }
    }

    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}