<footer id="footer" class="footer">
    <div class="container">
        <div class="footer_content">
            <a href="#" target="_blank" class="footer_link">
                <img src="./images/social-media/icon_1.svg" alt="Social media link" >
            </a>
            <a href="#" target="_blank" class="footer_link">
                <img src="./images/social-media/icon_2.svg" alt="Social media link" >
            </a>
            <a href="#" target="_blank" class="footer_link">
                <img src="./images/social-media/icon_3.svg" alt="Social media link" >
            </a>
            <a href="#" target="_blank" class="footer_link">
                <img src="./images/social-media/icon_4.svg" alt="Social media link" >
            </a>
            <a href="#" target="_blank" class="footer_link">
                <img src="./images/social-media/icon_5.svg" alt="Social media link" >
            </a>
            <a href="#" target="_blank" class="footer_link">
                <img src="./images/social-media/icon_6.svg" alt="Social media link" >
            </a>
            <a href="#" target="_blank" class="footer_link">
                <img src="./images/social-media/icon_7.svg" alt="Social media link" >
            </a>
        </div>
    </div>
</footer>